<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>880781493030-btshvvcdf6v954djb0m2o5pfds3shfrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880781493030-btshvvcdf6v954djb0m2o5pfds3shfrt</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ2sn1FzS3tkkEi60Zs1SCNJz95-mzyUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>880781493030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biz.xmil.CuddleDispatch</string>
	<key>PROJECT_ID</key>
	<string>cuddledispatch-d4299</string>
	<key>STORAGE_BUCKET</key>
	<string>cuddledispatch-d4299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880781493030:ios:d7622e3d92b0a443</string>
	<key>DATABASE_URL</key>
	<string>https://cuddledispatch-d4299.firebaseio.com</string>
</dict>
</plist>